@charset "UTF-8";

body{
	background-image: url("../immagini/sfondo1.jpg");
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

.border{
	border-radius: 10px;
	border: 3px solid #ffbb99;
}

.form{
	background-color: #ffffff;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 5%;
	margin-bottom: 2%;
	padding: 3mm;
	text-align: center;
	width:50%;
	height: 60%;
}

#registrazione{
	background-color: #ffffff;
	margin: 0 auto;
	margin-top:5%;
	padding:3mm;
	text-align: center;
	width:30%;
	height: 20%;
	border-radius: 10px;
}

.a{
	bottom: 5%;
	position: absolute;
	left: 42%;
}

.allineamentoDestra{
	text-align: right;
	margin-right: 30%;
}

a{
	color: #331100;
	text-emphasis: none;
	text-decoration: none;
}

#successmessage{
	color: #331100;
	position: absolute;
	top: 5%;
	left: 50%;
	transform:translate(-50%,-50%);
}

#errormessage{
	color: #331100;
	position:absolute;
	top: 45%;
	left: 50%;
	transform:translate(-50%,-50%);
}

fieldset {
    border: 0;
}