<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HomePage Banca</title>
</head>
<body> 
<h2> Elenco Conti</h2>
<p th:text=" ${NessunConto}"></p>

<form action="SelezionaConto" method="post">
<select name="conto" size="${ListaConti}.size" multiple>
<tr th:each=" conto: ${ListaConti}" >
<option th:value="${conto}" >
<td> ID conto: </td>
<td th:text="${conto}"/>
</option>
</tr>
</select>
<input type= "submit" value= "Visualizza dettagli conto selezionato" >
</form>

</body>
</html>