<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LET'S GO</title>
</head>
<body>
	<h1>All gucci man</h1>

	<p>Conto origine allo stato precedente:</p>
	<p th:text=" ${ContoOriginePrima.IDConto}"></p>
	<p th:text=" ${ContoOriginePrima.saldo}"></p>
	<p th:text=" ${ContoOriginePrima.proprietario}"></p>
	<p>Conto Destinazione allo stato precedente:</p>
	<p th:text=" ${ContoDestinazionePrima.IDConto}"></p>
	<p th:text=" ${ContoDestinazionePrima.saldo}"></p>
	<p th:text=" ${ContoDestinazionePrima.proprietario}"></p>
	<br />
	<p>Conto origine allo stato successivo:</p>
	<p th:text=" ${ContoOrigineDopo.IDConto}"></p>
	<p th:text=" ${ContoOrigineDopo.saldo}"></p>
	<p th:text=" ${ContoOrigineDopo.proprietario}"></p>
	<p>Conto Destinazione allo stato successivo:</p>
	<p th:text=" ${ContoDestinazioneDopo.IDConto}"></p>
	<p th:text=" ${ContoDestinazioneDopo.saldo}"></p>
	<p th:text=" ${ContoDestinazioneDopo.proprietario}"></p>
</body>
</html>