<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../CSS/style.css">
<script src="prova.js" defer>
</script>
<title>HomePage Banca</title>
</head>
<body>
	<div id="homepage" class="show">
		<h2>Elenco Conti</h2>
		<p th:text=" ${NessunConto}"></p>

		<form class ="hide" action="#">
			<select name="conto" size="${ListaConti}.size" multiple>
				<option th:each=" conto: ${ListaConti}" th:value="${conto}"
					th:label="'IDConto: '+ ${conto}"></option>
			</select> <input id="selectionbutton" type="button" value="Visualizza dettagli conto selezionato">
		</form>
		<p th:text=" ${ErrorMsg}"></p>
	</div>
	<div id="infoconto" class="hide">
		<div id="dettaglioconto">
			<h3>Dettagli del conto:</h3>
			<table border="1" style="border-collapse: collapse">
				<tr>
					<td>IDConto</td>
					<td>Intestatario</td>
					<td>Saldo</td>
				</tr>
				<tr>
					<td>
						<p th:text="${DettaglioConto.IDConto}"></p>
					</td>
					<td>
						<p th:text="${DettaglioConto.proprietario}"></p>
					</td>
					<td>
						<p th:text="${DettaglioConto.saldo}"></p>
					</td>
				</tr>
			</table>
		</div>
		<div id="listatransazioni">
			<h3>Lista delle ultime transazioni:</h3>
			<table border="1" style="border-collapse: collapse">
				<tr>
					<td>IDTrasferimento</td>
					<td>Data</td>
					<td>Importo</td>
					<td>Causale</td>
					<td>IDContoOrigine</td>
					<td>IDContoDestinazione</td>
				</tr>
				<tr th:each=" trasferimento: ${Trasferimenti}">
					<td>
						<p th:text="${trasferimento.IDTrasferimento}"></p>
					</td>
					<td>
						<p th:text="${trasferimento.Data}"></p>
					</td>
					<td>
						<p th:text="${trasferimento.Importo}"></p>
					</td>
					<td>
						<p th:text="${trasferimento.Causale}"></p>
					</td>
					<td>
						<p th:text="${trasferimento.IDContoOrigine}"></p>
					</td>
					<td>
						<p th:text="${trasferimento.IDContoDestinazione}"></p>
					</td>
				</tr>
			</table>
		</div>
		<div id="formtrasferimento">
			<h3>Vuoi ordinare un nuovo trasferimento?</h3>
			<form action="#">
				Username del destinatario: <input type="email"
					name="usernameDestinatario" required /> <br> IDConto del
				destinatario: <input type="number" name="IDContoDestinazione"
					required /> <br> Causale: <input type="text" name="causale"
					required /> <br> Importo: <input type="number" name="importo"
					required /> <br> <input type="hidden" name="IDContoOrigine"
					th:value="${DettaglioConto.IDConto}" /> <input type="button"
					value="Invia" />
				<p th:text=" ${errorMsg}"></p>
			</form>
		</div>
	</div>
	<div id="successo" class="hide">
		<h1>All gucci man</h1>

		<p>Conto origine allo stato precedente:</p>
		<p th:text=" ${ContoOriginePrima.IDConto}"></p>
		<p th:text=" ${ContoOriginePrima.saldo}"></p>
		<p th:text=" ${ContoOriginePrima.proprietario}"></p>
		<p>Conto Destinazione allo stato precedente:</p>
		<p th:text=" ${ContoDestinazionePrima.IDConto}"></p>
		<p th:text=" ${ContoDestinazionePrima.saldo}"></p>
		<p th:text=" ${ContoDestinazionePrima.proprietario}"></p>
		<br />
		<p>Conto origine allo stato successivo:</p>
		<p th:text=" ${ContoOrigineDopo.IDConto}"></p>
		<p th:text=" ${ContoOrigineDopo.saldo}"></p>
		<p th:text=" ${ContoOrigineDopo.proprietario}"></p>
		<p>Conto Destinazione allo stato successivo:</p>
		<p th:text=" ${ContoDestinazioneDopo.IDConto}"></p>
		<p th:text=" ${ContoDestinazioneDopo.saldo}"></p>
		<p th:text=" ${ContoDestinazioneDopo.proprietario}"></p>

	</div>
	<div id="fallimento" class="hide">
		<h2>Siamo spiacenti</h2>
		<p th:text=" ${errorMsg}">Qualcosa è andato storto</p>
	</div>
	<div id="logout">
		<p>
			<a href="/RIAGruppo94/Logout">Logout</a>
		</p>
	</div>
	<div id="prova"></div>
	<div id="tastiShow" class="show">
		<button id="showhomepage">Tasto1</button>
		<button id="showinfoconto">Tasto2</button>
		<button id="showsuccesso">Tasto3</button>
		<button id="showfallimento">Tasto4</button>
	</div>
</body>
</html>
